*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* nav styles */
nav{
    background-color: lightgray;
    padding: 80px ;
}

nav h1 {
    font-size: 60px;
    margin-bottom:20px;
}

nav button{
    background-color: rgb(0, 0, 255);
    border-radius: 5px;
    color:white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

nav p{
    margin-bottom: 20px;
    width: 60%;
    font-size: 18px;
}


/* main styles */
main{
    padding: 80px;
}

main div{
    display: flex;
    justify-content: space-between;
}

main button{
    margin-top: 20px;
    background-color: gray;
    border-radius: 5px;
    color:white;
    border: none;
    height: 25px;
    width: 130px;
}
.row p{
    padding-right: 20px;
}

/* footer styles */

div hr {
    margin-bottom: 20px;
    border: 1px solid #808080;

}
footer p {
    padding-left: 80px;
}

div{
    padding: 80px;
}