*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 1400px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border: 1px solid black;
    margin: auto;
    margin-top: 100px;
    display: grid;
    gap: 20px;
}
.child1{
    grid-row: 1/2;
    grid-column: 1/3;
    background-color: rgb(119, 44, 211);
    color: white;
    border-radius: 20px;
}
.profile{
    display: flex;
    align-items: center;
}
.profile img{
    width: 60px;
    border-radius: 50%;
    margin: 30px;
}
.info h4{
    font-weight: 10;
    margin-top: 5px;
}
.info1{
    padding: 30px;
}
.info1 h3{
    margin-top: 30px;
    font-weight: 10;
}
.child2{
    grid-row: 1/2;
    grid-column: 3/4;
    background-color:rgb(73, 73, 112);
    color: white;
    border-radius: 20px;
}
.child3{
    grid-row: 1/3;
    grid-column: 4/5;
    background-color: rgb(234, 227, 227);
    border-radius: 20px;
}
.child4{
    grid-row: 2/3;
    grid-column: 1/2;
    background-color: rgb(245, 235, 235);
    border-radius: 20px;
}
.child5{
    grid-row: 2/3;
    grid-column: 2/4;
    background-color: rgb(34, 20, 75);
    color: white;
    border-radius: 20px;
}

@media  screen and (max-width:600px) {
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
}