*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 1000px;
    /* max-width: 800px; */
    margin: auto;
    margin-top: 100px;
    border: 1px solid gray;
    /* make parent grid container */
    display: grid;
    /* decide no of cols and rows */
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr ;
}
/* .child1 */
.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: white;
    display: flex;
    justify-content: space-around;
    text-align:left;
}
.child1 img{
    height: 250px;
    width: 200px;
    margin-top: 20px;
}
.con p,.con h2{
    margin-top: 20px;  
    padding-left: 30px;
    padding-top: 10px;  
}
/* .child2 */
.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    text-align: center;
    background-color:rgb(248, 248, 225);
    padding: 50px;
}
.child2 h3{
    margin-bottom: 20px;
}
/* .child3 */
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: orange;
    text-align: center;
}
.child3 img{
    width: 200px;
    margin-top: 30px;
}
.child3 h2{
    color: white;
    padding: 10px;
    margin-top: 0;
}
.child3 a{
    text-decoration: none;
    color: yellow;
}
/* .child4 */
.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    background-color: white;
    padding-top: 40px;
    display: flex;
    gap: 20px;
    padding: 40px;
}
.child4 img{
    height: 100px;
    width: 200px;
}
.four{
    text-align: left;
}
.four h4{
    padding-left: 30px;
}
.four1{
    text-align: left;
    padding-left: 10px;
}
.four1 p{
    margin-bottom: 20px;
}
.four1 a{
    text-decoration: none;
}
/* .child5 */
.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: purple;
    color: white;
    text-align: center;
}
.child5 h4 img{
    width: 20px;
    margin-top: 60px;
}
.child5 h2{
    margin-right: 20px;
    margin-bottom: 10px;
}
.child5 .img{
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 50%;
}
button{
    background-color:goldenrod;
    padding: 5px;
    border-radius: 50px;
    margin-top: 10px;
    border: none;
}
/* .child6 */
.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:white;
    text-align: center;
}
.child6 img{
    width: 100px;
}
.child6 a{
    text-decoration: none;
}
.child6 h2{
    margin-bottom: 20px;
    margin-right: 30px;
}
/* .child7 */
.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color:cadetblue;
    color: white;
}
.child7 img{
    width:350px;
    margin-top: 40px;
    margin-left: 100px;
}
.child7 button{
    background-color: orange;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    border: none;
    text-align: left;
}
.child7 h2{
    text-align: center;
    margin-top: 30px;
    font-size: 2rem;
}
@media  screen and (max-width:600px) {
    /* stacked view */
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }

    .parent > div{
        grid-column: auto;
        grid-row: auto;
    }
}


