*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container img{
    width: 100%;
    height: 500px;
}
.info{
    position: absolute;
    top: 150px;
    left: 300px;
    text-align: center;
    color: white;
    font-size: 2rem;
    padding: 20px;
    
}
.info button{
    background-color: darkorange;
    padding: 20px 50px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-top: 50px;
}
.info h1{
    font-size: clamp(22px,4vw,48px);
}

.outdoor{
    display: flex;
}
.info1{
    padding: 100px;
}
.info1 h2{
    width: 50px;
    color: rgb(11, 11, 138);
    font-size: 3rem;
    margin-bottom: 30px;
}
.icon{
    width: 5px;
    height: 5px;
}
.card{
    width: 1000px;
    padding: 20px;
    background-color:rgb(194, 191, 191);
}
.outdoor img{
    width: 800px;
    padding: 50px 100px;
    margin-right: 50px;
}

main div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 1fr 1fr ;
    gap: 10px;
}

.row section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 40px;
}

.row h4{
    padding: 20px;
    font-weight: bold;
}

.card1{
    grid-column: 1/2;
    grid-row: 1/3;
    font-size: 2rem;
    color: rgb(11, 11, 138);
    margin-left: 90px;
}


.card2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: rgb(255, 218, 224);
    flex-direction: column;
}

.card3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: rgb(124, 181, 219);
    flex-direction: column;
}

.card4{
    grid-column: 4/5;
    grid-row: 1/2;
    background-color: rgb(255, 251, 192);
    flex-direction: column;
}

.card5{
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: rgb(164, 169, 207);
    flex-direction: column;
}

.card6{
    grid-column: 3/4;
    grid-row: 2/3;
    background-color: rgb(176, 176, 176);
    flex-direction: column;
}

footer {
    padding: 60px 10%;
    text-align: center;
    margin-top: 30px;
}

footer h2 {
    color: #0d3b66;
    margin-bottom: 25px;
    font-size: 3rem;
}

footer div {
    display: flex;
    justify-content: center;
    gap: 50px;
    color: #0d3b66;
}

footer p {
    font-weight: bold;
    
}
